/* CSS DIRECTORY *
-=TYPOGRAPHY=-   *
-=GLOBAL=-       *
-=HEADER=-       *
-=SEARCH BAR=-   *
-=RESULTS=-      *
* * * * * * * * */

// =============== //
 //   -=MIXINS=-    //
  //   ============= //

// ========== Fluid Element Sizing (px/rem) ========== //

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}
// Use:
// @include fluid-type(font-size, 320px, 1400px, 16px, 24px);

// ========== Color Themes ========== //

$themes: (
  winter: (
    primary-color: #7292b5,
    secondary-color: #f0f8ff,
  ),
  summer: (
    primary-color: #ffd700,
    secondary-color: #0084b1,
  ),
);

@mixin theme($properties, $key) {
  @each $theme in map-keys($themes) {
    .#{$theme} & {
      @each $property in $properties {
        #{$property}: map-deep-get($themes, $theme, $key);
      }
    }
  }
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}
// Use:
// @include theme(border-bottom border-top, secondary-color);

/* ===============
   -=TYPOGRAPHY=-
   =============== */

/* ========== CSS Reset ========== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, br, cite, code, del,
dfn, em, hr, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
dl, dt, dd, ol, ul, li, button, caption, input,
fieldset, form, label, legend, output, table,
textarea, tbody, tfoot, thead, tr, th, td,
article, audio, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, mark, menu, nav, option, output, ruby,
section, select, summary, time, video {
  // border: 0;
  // border-collapse: collapse;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  // text-decoration: none;
  // vertical-align: baseline;
}

blockquote, button, caption, dd, dt, figcaption,
h1, h2, h3, h4, h5, h6, input, legend, option,
output, p, pre, select, textarea {
  display: block;
}

a, abbr, acronym, b, bdo, big, br, cite, code, del,
dfn,em, i, ins, kbd, mark, q, samp, s, small, span,
strike, strong, sub, sup, time, tt, var{
  display: inline;
}

input[type=date], input[type=datetime-local],
input[type=file], input[type=month],
input[type=time], input[type=week], select {
  flex-direction: row;
}

a, a:link, a:visited, a:hover, a:active {
  background-color: transparent;
  background-image: none;
  color: inherit;
  text-decoration: none;
}

a img, :link img, :visited img {
  border: none;
}

:link, :visited {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img, video {
  max-width: 100%;
}

address {
  font-style: normal;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* ===============
     -=GLOBAL=-
   =============== */

// == Font Bank == //
$main-font: 'Yantramanav', sans-serif; // font-weight: 100;300;==>400<==;500;700;900
$headline-font: 'BenchNine', sans-serif; // font-weight: 300;==>400<==;700
$code-font: 'Fira Code', monospace; // font-weight: 300;==>400<==;500;600;700

* {
  font-family: $main-font;
}

.headline {
  font-family: $headline-font;
}

code, .code {
  font-family: $code-font;
}

body {
  background-color: #f7f7f7;
  @include fluid-type(font-size, 320px, 1400px, 16px, 26px);
}

/* ===============
     -=HEADER=-
   =============== */

.main-header {
  margin: 10px 0;
  align-self: center;
}

/* ===============
   -=SEARCH BAR=-
   =============== */

.search-bar, .results {
  margin-bottom: 20px;
  @include fluid-type(margin-left margin-right, 320px, 1680px, 10px, 550px)
}

.search-bar form {
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
}

.form-search {
  flex-direction: row;
}

.form-search > * {
  margin-right: 5px;
  padding: 2px 5px;
}

.submit {
  font-weight: bold;
  padding-top: 3px;
  font-size: large;
}

/* ===============
     -=RESULTS=-
   =============== */

.results {
  justify-content: space-between;
  flex-flow: row wrap;
}

.result-box {
  width: 30%;
  margin-bottom: 10px;
  border-bottom: 1px solid #000
}

/*
|--------------------------------------------------------------------------
| LOADER FROM CODEPEN
|--------------------------------------------------------------------------
|
| Find it here:
| https://codepen.io/alanshortis/pen/eJLVXr?editors=1100
*/

$base-line-height: 24px;
$color: #000;
$off-color: rgba($color, 0.2);
$pulse-duration: 750ms;

@keyframes pulse {
  50% {
    background: $color;
  }
}

.loading-screen {
  position: relative;
  align-self: center;
  width: ($base-line-height / 4);
  height: $base-line-height;
  background: $off-color;
  animation: pulse $pulse-duration infinite;
  animation-delay: ($pulse-duration / 3);
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: ($base-line-height / 1.5);
    width: ($base-line-height / 4);
    background: $off-color;
    top: 50%;
    transform: translateY(-50%);
    animation: pulse $pulse-duration infinite;
  }
  &:before {
    left: -($base-line-height / 2);
  }
  &:after {
    left: ($base-line-height / 2);
    animation-delay: ($pulse-duration / 1.5);
  }
}